.app.dark {
  --bg-color: #313133;
  --inverted-bg-color: #efefef;

  --primary-color: #ffffff;
  --secondary-color: #b7b6b6;
  --inverted-primary-color: #26262f;
  --inverted-secondary-color: #282626;
}