.app.light {
  --bg-color: #efefef;
  --inverted-bg-color: #313133;

  --primary-color: #212128;
  --secondary-color: #232121;
  --inverted-primary-color: #ffffff;
  --inverted-secondary-color: #b7b6b6;
}